BOT_TOKEN=
CLIENT_SECRET=
CLIENT_ID=
OWNER=
HOME_SERVER_ID=

DBPASS=
DBHOST=
DBUSER=
DBPORT=
DBNAME=

# if encryptor and decryptor from utility_modules/utility_methods.js are not used, those can be removed
ENCRYPT_KEY=
IV=
ALGORITHM=
###